* {
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;
    margin: 0;
}


body {
    background-color: rgba(230, 225, 225, 0.24);
    /* sticky */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* color: #fff; */
}

header {
    position: sticky;
    top: 0;
    background-color: rgb(166, 45, 190);
    text-align: center;
    flex-grow: 0;
    height: 100px;
    min-height: 4rem;
    background-color: rgb(166, 45, 190);
    color: #fff;
  
}

header div a {
    /* background-color: #000; */
    text-decoration: underline;
    font-style: italic;
    color: #fff;
    font-size: 20px;
}

section {
    margin-top: 20px;
}

.content {
    /* width: 1000px; */
    margin: 0 auto;
    padding: 20px;
    /* Sticky footer */
    flex: 1;
}

/* Basic footer styles */
footer {
    width: 100%;
    background: rgb(175, 77, 159);
    margin-top: 1.5rem;
   /* Sticky footer */
    flex-shrink: 0;
}

h1 {
    text-align: center;
    background-color: rgb(166, 45, 190);
}

h1, p {
    margin: 1rem 0;
}

ul {
    padding: 1.25rem;
    text-align: center;
}

ul li {
    list-style-type: none;
    /* display: inline-block; */
    flex-direction: column;
    margin: 0.25rem 0.75rem;
}

ul a {
    color: #fff;
    text-decoration: none;
}

ul a:hover {
    text-decoration: underline;
    font-weight: bold;
}

/* .container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    height: 100vh;
} */


.content {
    flex-grow: 1;
    overflow: auto;
}

footer {
    flex-grow: 0;
    width: 100%;
    height: 20px;
    min-height: 4rem;
    background: rgb(129, 124, 124);
}

footer li {
    display: inline-block;
}

/* l'élement menu est flex pour séparer les enfants de manière égale */
#menu {
    display: flex;
    justify-content: space-evenly;
}


nav {
    position: sticky;
    top: 0;
    background-color: #000;
    color: #fff;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    flex: 1;
    width: 1000px;
    background-color: grey;
    color: #fff;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
 
}

/* le conteneur principal */
/* .conteneur {
    margin: auto;
    background-color: #fff;
    width: 1000px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} */






/* Définition de la largeur des colonnes en pourcentage */
/* grille 12 colonnes */
.col-1 {
    width: 8.333333%;
}

.col-2 {
    width: 16.666666%;
    /* background-color: rgb(255, 145, 0); */
}

.col-3 {
    width: 25%;
    /* background-color: rgb(241, 172, 44); */
}

.col-4 {
    width: 33.333333%;
    /* background-color: rgb(247, 215, 34); */
}

.col-5 {
    width: 41.666666%;
    /* background-color: rgb(196, 216, 20); */
}

.col-6 {
    width: 50%;
    /* background-color: rgb(105, 238, 71); */
}

.col-7 {
    width: 58.333333%;
    /* background-color: rgb(35, 189, 29); */
}

.col-8 {
    width: 66.666666%;
    /* background-color: rgb(44, 224, 185); */
}

.col-9 {
    width: 75%;
    /* background-color: rgb(32, 212, 224); */
}

.col-10 {
    width: 83.333333%;
    /* background-color: rgb(69, 130, 221); */
}

.col-11 {
    width: 91.666666%;
    /* background-color: rgb(206, 83, 236); */
}

.col-12 {
    width: 100%;
    /* background-color: rgb(218, 50, 176); */
}

/* les marges à gauche pour créer si on le veut des colonnes vides */
.marge-1 {
    margin-left: 8.333333%;
    /* background-color: wheat; */
}
.marge-2 {
    margin-left: 16.666666%;
    /* background-color: yellowgreen; */
}
.marge-3 {
    margin-left: 25%;
    /* background-color: violet; */
}
.marge-4 {
    margin-left: 33.333333%;
}
.marge-5 {
    margin-left: 41.666666%;
}
.marge-6 {
    margin-left: 50%;
}
.marge-7 {
    margin-left: 58.333333%;
}
.marge-8 {
    margin-left: 66.666666%;
}
.marge-9 {
    margin-left: 75%;
}
.marge-10 {
    margin-left: 83.333333%;
}
.marge-11 {
    margin-left: 91.666666%;
}

/* la classe pour créer une rangée */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* margin-bottom: 15px; */
}

.row-reverse {
    display:flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    /* text-align: center; */
}

/* les règles de médias queries pour le responsive et les différents écrans */

/* pour les téléphones */

@media (max-width: 320px) {

    body {
        background-color: #fff;
    }

    main {
        width: 320px;
    }

    #conteneur {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        background: rgba(194, 27, 216, 0.637);

    }

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .col-xs-12 {
        width: 100%;
    }

    .colonne-xs {
        display: flex;
        flex-direction: column;
    }
}


/* pour les petites tablettes, les smartphones grand ecran, les phablettes */

@media (min-width: 321px) and (max-width: 767px) {

    body {
        background-color: #fff;
    }

    main {
        width: 370px;
    }

    #conteneur {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(0, 132, 255, 0.308);
    }

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        /* border: 5px solid #000; */
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-12 {
        width: 100px;
    }

    /* pour le footer */

    .colonne-sm {
        display: flex;
        flex-direction: column;
    }

}


/* les tablettes et certains ordinateurs portables */

@media (min-width: 768px) and (max-width: 1096px) {

    body {
        background: #fff;
    }

    main {
        width: 800px;
    }

    #conteneur {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(55, 167, 204, 0.507);
    }
}


/* écrans et ordinateurs de bureau */

@media (min-width: 1097px) {

  
    #conteneur {
        background-color:rgba(241, 224, 65, 0.623);
        width: 100%;
        margin: 0 auto;
        border: 1px solid #000;
        margin-top: 30px;
    }
}



